/*
*********************************************************************
* Main CSS
*********************************************************************
*/

body, html {
    width: 100%;
    height: 100%;
    font: 15px "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
    line-height: 150%;
    background: url('../img/bg.jpg');
}

p {
    margin: 0 0 15px 0;
    line-height: 60%;
	color:#7a7a7a;
	font-size:14px;
	font-family:Georgia;
}

div.container_20 {   /*****Main content****/
z-index:2;
position:absolute;
} 

div.container_12 {   /*****Light bg****/
z-index:5;
position:relative;
} 


h1, h2, h3 {
    font-family: Georgia, "Times New Roman", Times, serif;
    margin: 40px 0 25px 0;
}

h1 {
    text-align: center;
    font-size: 50px;
	}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

h6 {
    font-size: 11px;
    text-align: center;
}

#otherlinks {       /*Style for Some links related to me*/
	font-style:italic;
	font:Georgia;
	font-size:14px;
}


a {
    text-decoration: none;
    color:#bfb9a0;
	font:Georgia;
     
}

a:hover {
    color:#bab8af;
    border-bottom-color: black;
}

ul {
    line-height: 180%;
    padding: 0 0 0 25px;
	list-style:none;
}

li {
    list-style: none;
    margin: 0 0 2px 0;
	
}

#hello{                 /*Style for h1 Daniel Bengtsson*/
	margin:1% 0 5px 30%;
	color:#bfb9a0;

}

#motto {                /*Style for motto at the top*/
	margin:0 0 25px 0;
	padding: 0 20px 0 0;
	color:#626262;
	text-align:right;
	font-style:italic;
	font-size:12px;

}

#home {                           /*Style for main content*/
	margin:20px 0 10px 0;
	padding:0 0px 10px 40px;
	color:#c6c6c6;
	height:570px;
	border-bottom:1px solid #1f1f1f;
}

#daniel {                         /*Style for «My name is DB»*/
	color:#d0d0ce;
	font-family:"Adobe Garamond Pro";
	font-size:20px;
}

div.homelinks {      /*Making more free space under the links on the main page*/
height:180px;
}


div.grid_6 {                      /*Motto is using grid_6*/
	margin-left:50%;
} 



div.grid_8 {                      /*Grid for the latest posts*/
	border-top:1px solid #1f1f1f;
	margin:10px 0 0 0;
	height:300px;
	padding:0 10px 10px 10px;
} 

#flickr {                        /*Style for the bw image and link to flickr*/
	margin:10px 0 0 40px;
	height:300px;
	border-top:1px solid #1f1f1f;
	padding:30px 0 0 10px;

}

.blog {                          /*Style for blog posts*/
	font:Arial;
	font-size:10px;
	color:white;
	line-height:140%;
	margin:10px 0 10px 0;
}


h2.blog  {                        /*Style for Latest posts header*/
	font-size:20px;
	margin:25px 5px 5px 0px;
	color:#d0d0ce;
}

h3.blog {						/*Style for blog headers*/
	font-size:16px;
	margin:0px 5px 0px 0px;
	color:#bfb9a0;
	font-style:italic;

}

a.blog {
	font-size:16px;
	margin:15px 5px 15px 0px;
	color:#bfb9a0;
	font-style:italic;
	}

#footer {					   /* Style for footer*/
	padding:5px 20px 2px 25px;
	color:#434343;
	font-size:10px;
	height:60px;
} 
/*Main Menu*/

#menu ul {
	list-style:none;
	margin:0;
	padding:0;
	
}
#menu li {
	float:left;
	width:200px;
	margin:0;
	padding:0;
	text-align:center;
	border-bottom:1px solid #282828;
	text-align:left;
}
#menu li a {
	display:block;
	padding:5px 10px;
	height:80%;
	color:#9e9d9d;
	text-decoration:none;
	height:80%;
	
}

#menu li a:hover {
	color:#bab8af;
	border-bottom:2px solid #bfb9a0;
}

div.grid_3 {                        /*Used for the main menu*/
	margin-right:-10px;
	margin-left:25px;
	font-family:"Browallia New";
	font-size:18px;
	height:50px;

}
/*end menu*/


/*ABOUT ME - Daniel*/

img.danielimg {              /*Style for photo*/
border:1px solid #363530;
float:left;
margin:15px 18px 20px 5px;
}

#about {                    /*Style for text*/
margin:5px 5px 20px 0px;
line-height:150%;
border:none;
}

#contact {
border:none;
}

div.infocontact {                         /*Layer for Contact info*/
margin:20px 18px 0px 10px;
}

h2.contact {                             /*Style for «Contact info»*/
font-size:16px;
color:#bfb9a0;
border-bottom:1px solid #272623;
}

h3.contact {								/*Style for Main contact titles*/
font-size:14px;
color:#bfb9a0;
font:italic;
margin:0;
padding:0;
line-height:90%;
}

/******ABOUT ME - Daniel END************/

/*************ANASTASIA*******************/

img.avaimg {
border:1px solid #363530;
float:left;
margin:15px 18px 0px 20px;
}

#aboutava {
margin:5px 40px 20px 20px;
line-height:150%;
}

#anastasia_web {
margin:0 0 5px 0;
font-size:14px;
}

